.links-all {
  font-size: 0.85em;

  @media print {
    display: none;
  }

  .link-all,
  .link-week-current {

  }

  .links-year {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 2em;
    background-color: rgba(255, 255, 255, 0.3);

    & > div:not(.links-quarter) {
      margin: 0 auto;
    }

    .links-quarter {
      display: flex;
      flex-direction: row;

      .link-quarter {
        border-right: 1px solid #666;
      }

      .link-quarter,
      .link-week {
        width: 23px;
        margin: 2px 0;
      }

      &:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.2);
      }
      &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  a {
    text-align: center;
    text-decoration: none;
    color: #ddd;
    margin: 2px;

    &:hover, &.active {
      color: #fff;
    }
  }
}
