.weekly-summary {
  font-size: 0.85em;

  border-collapse: collapse;
  width: 100%;

  @media print {
    page-break-before: always;
  }

  > thead > tr > th,
  > tbody > tr > td {
    padding: 6px 4px 2px 4px;
    border: 1px solid #eee;
  }

  thead {
    th {
      background-color: #eee;
    }
  }
  tbody {


    .cw {
      display: flex;
      & > div {
        margin: 0px 4px;
        min-width: 1em;
      }

      .week-number {
        a {
          text-decoration: none;
        }
      }
      .date-range {
        display: block;
      }
      .date-range {
        font-size: 0.85em;
        color: #555;
      }
      .detail-expand {
        font-size: 2em;
        cursor: pointer;
      }
      @media print {
        .detail-expand {
          display: none;
        }
      }
    }
    .duration {
      .work-time,
      .over-time {
        margin-right: 6px;
      }
      .work-time {
        font-weight: bold;
      }
      .over-time {
        color: #E76F51;
      }
    }

    @media screen {
      .detail:not(.expand) {
        display: none;
      }
    }
  }
}
