.PivotTable {
  font-size: 0.85em;

  border-collapse: collapse;
  width: 100%;

  > thead > tr > th,
  > tbody > tr > td {
    padding: 6px 4px 2px 4px;
    border: 1px solid #eee;
  }

  .total,
  .grand-total {
    font-style: italic;
    background-color: #ddd;
    border: 1px solid #ddd;
  }
  .grand-total {
    font-weight: bold;
    background-color: #d2d2d2;
  }

  .dim0,
  .dim1 {
    background-color: #eee;
  }

  .dim0:nth-child(0n+2) {
    background-color: #E76F51;
  }

  .dim0:nth-child(0n+3) {
    background-color: #F4A261;
  }

  .dim0:nth-child(0n+4) {
    background-color: #E9C46A;
  }

  .dim0:nth-child(0n+5) {
    background-color: #264653;
    color: white;
  }

  .cell {
    min-width: 7em;

    .duration, .percentage {
      display: block;
    }
    .percentage {
      font-size: 0.85em;
      font-style: italic;
      color: #555;
    }
  }
}
