.header {
  text-align: left;
  background-color: #222;
  color: #E6437D;
  padding: 15px;

  h2 {
    font-weight: 100;

    small {
      margin-left: 25px;
    }
  }

  @media print {
    .btn {
      display: none;
    }
  }
}
