.chart {
  shape-rendering: crispEdges;
}

.main text {
  font: 12px sans-serif;
}

.axis text {
  font: 9px sans-serif;
}

rect.item-DEV {
  fill: #e5a000;
  stroke-width: 0;
}
rect.item-SUPP {
  fill: #69df00;
  stroke-width: 0;
}
rect.item-PRJ {
  fill: #00da4e;
  stroke-width: 0;
}
rect.item-EML {
  fill: #00abd4;
  stroke-width: 0;
}
rect.item-SCRM {
  fill: #0500cf;
  stroke-width: 0;
}
rect.item-MEET {
  fill: #ac00c9;
  stroke-width: 0;
}
rect.item-INTR {
  fill: #c4003d;
  stroke-width: 0;
}
rect.item-PHN {
  fill: #bf6300;
  stroke-width: 0;
}

rect.item-Q1 {
  fill: #E76F51;
  stroke-width: 0;
}
rect.item-Q2 {
  fill: #F4A261;
  stroke-width: 0;
}
rect.item-Q3 {
  fill: #E9C46A;
  stroke-width: 0;
}
rect.item-Q4 {
  fill: #264653;
  stroke-width: 0;
}