.add-timesheet-form {

  .timesheet-items-container {
    max-height: 350px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    .timesheet-item {
      margin: 0 15px;
      margin-bottom: 4px;

      border-left: 5px solid white;
      border-right: 5px solid white;
      &.has-error {
        border-left: 5px solid red;
        border-right: 5px solid red;
      }

      .input-group {
        display: flex;
        flex-direction: row;

        .timesheet-item-number {
          flex: 0 0 24px;
          padding: 8px;
          height: 30px;
          color: #888;
        }
        .timesheet-item-time {
          min-width: 0px;
          flex: 1 0 24px;
          margin-right: 2px;
          border-color: #EEE;
        }
        .timesheet-item-description {
          min-width: 0px;
          flex: 3 0 24px;
          margin-right: 2px;
          border-color: #EEE;
        }
        .timesheet-item-classification {
          min-width: 0px;
          flex: 1 0 24px;
          margin-right: 2px;
          border-color: #EEE;
        }
        .timesheet-item-category {
          min-width: 0px;
          flex: 3 0 24px;
          margin-right: 2px;
          border-color: #EEE;
        }
        .remove-button-space {
          min-width: 0px;
          flex: 0 0 24px;
          margin-right: 2px;
          border-color: #EEE;
        }
        .remove-button {
          min-width: 0px;
          flex: 0 0 24px;
        }
      }
    }
  }
}
